.layout {
  padding: 0;
  width: 100%;
  height: 100%;
}

.sidebar {
  background-color: var(--primary);
  padding: 10px;
  border-radius: 5px;
  height: 94vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: fixed;
}

.mobile-sidebar {
  width: 15vw;
  padding: 5px;
}

.mobile-sidebar .menu-item {
  padding: 10px 5px;
  margin-bottom: 15px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 17px 20px;
  margin: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  gap: 15px;
  color: white !important;
}

.active-menu-item {
  border: 2px solid white;
  border-radius: 5px;
}

.body {
  width: 100%;
}

.collapsed-body {
  margin-left: 102px;
}

.mobile-collapsed-body {
  margin-left: 20vw;
}

.no-collapse-body {
  margin-left: 230px;
}

.content {
  flex: 1;
}

.header {
  background-color: var(--primary);
  color: white !important;
  padding: 15px;
  border-radius: 5px;
  align-items: center !important;
}