.Ranking {
    padding-bottom: 40px;

    .leaderboard {
        border: 4px solid #6cb1fb;
        border-radius: 10px;
        padding: 50px 20px 20px 70px;
        background-color: #162858eb;
        color: white;
    }

    .legend {
        background-color: #162858eb;
        border: 4px solid #5168f1;
        padding: 8px 20px;
        border-radius: 15px;
        font-size: 30px;
        font-weight: 600;
        display: flex;
        align-items: center;
    }

    .legend .trophy {
        padding-right: 20px;
        color: #FFD700;
    }

    .data {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .row {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .position {
        width: 100px;
    }

    .medal {
        font-size: 40px;
        text-align: center;
    }

    .number {
        font-size: 20px;
        font-weight: 700;
        text-align: center;
    }

    .profile {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .profile-icon {
        width: 50px;
        height: 50px;
    }

    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(90deg, #3264e9, #2349b1);
        padding: 8px 12px;
        border-radius: 8px;
        width: 100%;
    }

    .name {
        width: 30%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .school {
        width: 25%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .class {
        width: 25%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

    }

}

@media only screen and (max-width: 768px) {
    .Ranking {
        width: 75.5vw;
        overflow-x: scroll;
        .leaderboard {
            padding: 30px 6px;
        }

        .legend {
            font-size: 12px;
            padding: 8px 4px;
        }

        .legend .trophy {
            padding-right: 5px;
        }

        .row {
            gap: 5px;
        }

        .position {
            width: 40px;
        }

        .medal {
            font-size: 22px;
        }

        .number {
            font-size: 14px;
        }

        .profile {
            width: 25px;
            height: 25px;
            border-radius: 50%;
        }

        .profile-icon {
            width: 25px;
            height: 25px;
        }

        .flex {
            padding: 8px 4px;
        }

        .name,
        .school,
        .class {
            font-size: 9px;
        }

        .score {
            font-size: 10px;
        }

    }
}